Week-02/week-02/node_modules/*
Week-03/node_modules/*
Week-04/the-places-app/node_modules/*
Week-05/node_modules/*
Week-06/node_modules/*
Week-07/node_modules/*
UTS
Week-09/node_modules/*
Week-10/umn-homes_w8/node_modules/*