<ion-header>
  <ion-toolbar>
    <ion-title>{{ selectedPlace.title }}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content text-center padding>
  <ion-img [src]="selectedPlace.imgUrl"></ion-img>
  <p>{{ selectedPlace.description }}</p>
  <p margin>{{ selectedPlace.price }}</p>
  <p>Are you sure you want to book the place?</p>
  <ion-button expand="block" margin color="primary" (click)="onBookPlace()">Book!</ion-button>
  <ion-button expand="block" margin color="danger" fill="outline" (click)="onCancel()">Cancel</ion-button>
</ion-content>